<ol class="breadcrumb">
    <li><a href="#">系统设置</a></li>
    <li class="active">管理员管理</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-primary">添加管理员</button>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>联系人</th>
                    <th>手机号码</th>
                    <th>Email</th>
                    <th>所属用户组</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>admin</td>
                    <td>MK</td>
                    <td></td>
                    <td>490019213@qq.com</td>
                    <td>管理员</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success edit">修改</button>
                        <button type="button" class="btn btn-sm btn-danger delete">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" title="首页">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="上一页">
                            <span>上一页</span>
                        </a>
                    </li>
                    <li>
                                <span>
                                        <form method="get" action="#" style="display:inline;">
                                            <input type="text" style="width:50px;box-sizing: border-box;border:0;padding:0;text-align: center;" />
                                        </form>
                                </span>
                    </li>
                    <li>
                        <a href="#" title="下一页">
                            <span>下一页</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="末页">
                            <span>末页</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>